<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Cantine</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        Menu de la cantine
    </header>

    <div class="menu">
        <table>
            <tbody>
                <tr class="table_header">
                    <td class="head">Jour</td>
                    <td class="head2">Midi</td>
                    <td class="head2">Soir</td>
                </tr>
                <tr>
                    <td class="head">Lundi</td>
                    <td>Poulet<br>Frite</td>
                    <td>Poulet<br>Frite</td>
                </tr>
                <tr>
                    <td class="head">Mardi</td>
                    <td>Poulet<br>Frite</td>
                    <td>Poulet<br>Frite</td>
                </tr>
                <tr>
                    <td class="head">Mercredi</td>
                    <td>Poulet<br>Frite</td>
                    <td>Poulet<br>Frite</td>
                </tr>
                <tr>
                    <td class="head">Jeudi</td>
                    <td>Poulet<br>Frite</td>
                    <td>Poulet<br>Frite</td>
                </tr>
                <tr>
                    <td class="head">Vendredi</td>
                    <td>Poulet<br>Frite</td>
                    <td>Poulet<br>Frite</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>