body, html{
    margin: 0;
    padding: 0;
    background-image: url("/static/imgs/back.jpg");
}

*{
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    background-color: white;
    font-size: 3em;
    padding: 10px;
}

